<!DOCTYPE html>
<html lang="en" ng-app="myModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chris Parsons WebSite</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://chrisp1985.github.io/src/js/menuControl.js"></script>
  </head>

  <body>
	<style>
	.hello {
		background-color: #1abc9c; /* Green */
		color: #ffffff;
	}
	.container-fluid-chris {
		padding-right: 15px;
		padding-left: 15px;
		height: 5pc;
		margin-right: auto;
		margin-left: auto;
	}
	
	</style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">My Webpage</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://chrisp1985.github.io"><span class="fa fa-home"/>  Home</a></li>
                    <li><a href="http://chrisp1985.github.io/src/js/menuControl.js"><span class="fa fa-terminal"/>  Javascript Source</a></li>
                    <li><a href="#contact"><span class="fa fa-envelope" />  Contact</a></li>
                    <li><a href="https://github.com/chrisp1985/chrisp1985.github.io"><span class="fa fa-github" />  GitHub</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron hello">
      <div class="container-fluid-chris">
        <h1>Tools!</h1>
        <p>All about the tools and frameworks used and examples.</p>
      </div>
    </div>

    <div class="container-fluid">
        <h2>Test stuff</h2>
        <div ng-app="myModule">
            <section class="tab container" ng-controller="myCtrl as tab">
                <ul class="nav nav-pills">
                    <li ng-class="{ active: tab.isSet(1) }">
                        <a href ng-click="tab.setTab(1)">Jasmine</a></li>
                    <li ng-class="{ active: tab.isSet(2) }">
                        <a href ng-click="tab.setTab(2)">Selenium</a></li>
                    <li ng-class="{ active: tab.isSet(3) }">
                        <a href ng-click="tab.setTab(3)">UI Automation</a></li>
                </ul>
                <div ng-show="tab.isSet(1)">
                    <h4>Jasmine</h4>
                    <blockquote>{{tab.selects[0].jasmine}}</blockquote>
                </div>
                <div ng-show="tab.isSet(2)">
                    <h4>Selenium</h4>
                    <blockquote>{{tab.selects[0].selenium}}</blockquote>
                </div>
                <div ng-show="tab.isSet(3)">
                    <h4>UI Automation</h4>
                    <blockquote>{{tab.selects[0].uiautomation}}</blockquote>
                </div>
            </section>
        </div>
    </div>

    <div class="container">
      <footer>
        <p>&copy; 2016 Me, PLC.</p>
      </footer>
    </div>
  </body>
</html>
