<!DOCTYPE html>
<html lang="en" ng-app="myModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chris Parsons WebSite</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
	
  </head>


  <body>
	<style>
	.hello {
		background-color: #1abc9c; /* Green */
		color: #ffffff;
	}
	
	</style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Chris Parsons CV</>
        </div>
        <a class="navbar-header">
          <a class="navbar-brand" href="">Tools</>
        </a>
        <a class="navbar-header">
          <a class="navbar-brand" href="">Languages</>
        </a>
        <a class="navbar-header">
          <a class="navbar-brand" href="http://chrisp1985.github.io/src/js/menuControl.js">JavaScript</>
        </a>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron hello">
      <div class="container">
        <h1>Welcome!</h1>
        <p>In Progress...</p>
      </div>
    </div>

	<div class="container">
			<p>The website was created using Bootstrap and Font-Awesome, with some Angular additions.</p>
	</div>

    <section class="tab container" ng-controller="myCtrl as tab">
      <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1) }">
          <a href ng-click="tab.setTab(1)">Tools</a></li>
        <li ng-class="{ active: tab.isSet(2) }">
          <a href ng-click="tab.setTab(2)">Languages</a></li>
      </ul>
      <div ng-show="tab.isSet(1)">
        <h4>Tools and Frameworks</h4>
        <blockquote>{{selects.name}}</blockquote>
      </div>
      <div ng-show="tab.isSet(2)">
        <h4>Languages</h4>
        <blockquote>{{selects.name}}</blockquote>
      </div>
    </section>

    <div class="container">
      <footer>
        <p>&copy; 2015 Me, PLC.</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://chrisp1985.github.io/src/js/menuControl.js"></script>
  </body>
</html>
