<div>
    <script>
    $(function() {
      $( ".accordion" ).accordion({
          collapsible: true,
          heightStyle: "content",
          active: false
      });
    });
    </script>
    <script>
        Prism.highlightAll();
    </script>
    <div class="jumbotron jumbotron-billboard">
        <div class="img othertools"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="my-header2">Other Tools</h1>
                    <p>The accompanying software and tools that are used as aides to testing, rather than the frameworks themselves.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="left">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <section class="tab container" ng-controller="myOtherCtrl as tab">
                        <ul class="nav nav-pills">
                            <li ng-class="{ active: tab.isSet(1) }">
                                <a href ng-click="tab.setTab(1)">Jenkins</a></li>
                            <li ng-class="{ active: tab.isSet(2) }">
                                <a href ng-click="tab.setTab(2)">npm</a></li>
                            <li ng-class="{ active: tab.isSet(3) }">
                                <a href ng-click="tab.setTab(3)">Mocking</a></li>
                            <li ng-class="{ active: tab.isSet(4) }">
                                <a href ng-click="tab.setTab(4)">Linux</a></li>
                            <li ng-class="{ active: tab.isSet(5) }">
                                <a href ng-click="tab.setTab(5)">Build Environment</a></li>
							<li ng-class="{ active: tab.isSet(6) }">
								<a href ng-click="tab.setTab(6)">Test Reporting</a></li>								
                        </ul>
                        <h4><br/></h4>

                        <div ng-show="tab.isSet(1)">
                            <blockquote ng-cloak>{{tab.selects[0].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[0].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Example 1</div>
                                    <pre>
                                                <code class="language-bash">
queueValue=`curl -X GET jenkins:8080/view/MyProject/job/myApp/api/json?pretty=true | grep 'queueItem'`

# If there are no builds in the queue, start the job.
if [[ "$queueValue" == *"null"* ]]; then
echo "Trigger Build!"
mkdir -p $WORKSPACE/mytests/build/tmp
echo "Trigger Build!" > $WORKSPACE/ mytests /build/tmp/noqueue.txt;
else
echo "DONT Trigger Build!";
fi
                                                </code>
                                    </pre>
                            </div>
                            <p><br/></p>

                            <p >{{tab.selects[0].example1}}</p>

                            <p><br/></p>

                        </div>
                        <div ng-show="tab.isSet(2)">
                            <blockquote ng-cloak>{{tab.selects[1].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[1].languages}}</p>
                            </blockquote>

                            <div class="accordion">
                                <div>Example 1</div>
												<pre>
                                                    <code class="language-markup">
chrisp@chrisp-Aspire-2920:~$ npm install require --save-dev
require@2.4.20 node_modules/require
├── std@0.1.40
└── uglify-js@2.3.0 (async@0.2.10, optimist@0.3.7, source-map@0.1.43)
                                                    </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[1].example1}}</p>

                            <p><br/></p>

                        </div>
                        <div ng-show="tab.isSet(3)">
                            <blockquote ng-cloak>{{tab.selects[2].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[2].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>MockServer</div>
                                            <pre>
                                                <code class="language-java">
/**
* *** MOCK SERVICE FOR AN EXTERNAL SERVICE DEPENDENCY ***
*/
public void setUpMockService() {
    MockServerClient mockServer = startClientAndServer(MyProperties.portNo);

    // Respond with an OK when a PUT request is sent to the services.
    mockServer
    .when(request()
        .withMethod("PUT")
        .withPath("/path/to/my/rest/services")
    )
    .respond(response()
        .withStatusCode(200)
    );

    // Respond with a token when a successful POST request is made to my token generation.
    mockServer
    .when(request()
        .withMethod("POST")
        .withPath("/path/to/my/tokens/makeMyToken")
        .withBody("username=admin&password=SecretStuff")
    )
    .respond(response("{\n" +
    "  \"token\": \"TMm3CKdPjv1m8_h9tv9T4C2nCGcT2QnpLJ9V28hdujWUanQUR67-RDU5TiQsn6AE\",\n" +
    "  \"expires\": \"1462351478419\"\n" +
    "}")
        .withStatusCode(200)
        .withBody("TMm3CKdPjv1m8_h9tv9T4C2nCGcT2QnpLJ9V28hdujWUanQUR67-RDU5TiQsn6AE")
    );

    // Respond with a 'not authorized' when an invalid POST request is made to my token generation.
    mockServer
    .when(request()
        .withMethod("POST")
        .withPath("/path/to/my/tokens/makeMyToken")
        .withBody("username=whoDat&password=NoDat")
    )
    .respond(response("not authorized")
        .withStatusCode(401)
        .withBody("not authorized")
    );

    // Respond with a 'not authorized' when an invalid GET request is made to my REST services.
    mockServer
    .when(request()
        .withMethod("GET")
        .withPath("/path/to/my/rest/services")
        .withQueryStringParameter("token","InvalidToken")
    )
    .respond(response("not authorized")
        .withStatusCode(503)
    );

    // Respond with an OK when a valid GET request is made to my REST services.
    mockServer
    .when(request()
        .withMethod("GET")
        .withPath("/path/to/my/rest/services")
    )
    .respond(response("{\"currentVersion\":v1.1,\"services\":[{\"name\":\"MyServiceName\",\"type\":\"A_Service\"}]}")
        .withStatusCode(200)
    );
}
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[2].example1}}</p>

                            <p><br/></p>

                            <div class="accordion">
                                <div>Angular HTTP Backend Example 1</div>
                                            <pre>
                                                <code class="language-javascript">
$httpBackend.expectGET(/\/path\/to\/my\/files\/file.json\?noCache=(.+)/).respond(responseString);
service.getResource(fileName).get().then(function(data){
expect(JSON.stringify(data)).toContain(JSON.stringify(responseString));
});
$httpBackend.flush();
                                                </code></pre>
                            </div>
                            <div class="accordion">
                                <div>Angular HTTP Backend Example 1</div>
                                            <pre>
                                                <code class="language-javascript">
httpBackend.expectPOST(/\/path\/to\/my\/files\?noCache=(.+)/).respond(500,'Internal Server Error');
scope.getFiles(myFiles[0]);
httpBackend.flush();
expect(toasterSpy).toHaveBeenCalledWith('error', 'Failed to get your file.');
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[2].example2}}</p>

                            <p><br/></p>
                        </div>
                        <div ng-show="tab.isSet(4)">
                            <blockquote ng-cloak>{{tab.selects[3].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[3].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Example 1</div>
                                            <pre>
                                                <code class="language-markup">
chrisp@chrisp-Aspire-2920:~$ ssh 192.168.1.3 -lpi
pi@192.168.1.3's password:

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.
Last login: Tue May 17 18:09:00 2016 from 192.168.1.17
pi@raspberrypi:~ $ sudo chmod 777 /etc/network/interfaces
pi@raspberrypi:~ $ sudo vim /etc/network/interfaces
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].ssh}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Example 2</div>
                                <img style="background-color: #FFFFFF; width: 100%; height: 100%;" src="../imgs/raspbian.png" />
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].raspbian}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Example 3</div>
                                            <pre>
                                                <code class="language-markup">
chrisp@chrisp-Aspire-2920:~$ sudo apt-get install ssh
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
fonts-dejavu-extra java-common libatk-wrapper-java libatk-wrapper-java-jni
libgnomevfs2-0 libgnomevfs2-common tzdata-java
Use 'apt-get autoremove' to remove them.
The following NEW packages will be installed
ssh
0 to upgrade, 1 to newly install, 0 to remove and 151 not to upgrade.
Need to get 0 B/7,080 B of archives.
After this operation, 96.3 kB of additional disk space will be used.
Selecting previously unselected package ssh.
(Reading database ... 257516 files and directories currently installed.)
Preparing to unpack .../ssh_1%3a6.9p1-2ubuntu0.2_all.deb ...
Unpacking ssh (1:6.9p1-2ubuntu0.2) ...
Setting up ssh (1:6.9p1-2ubuntu0.2) ...
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].aptget}}</p>

                            <p><br/></p>
                        </div>
                        <div ng-show="tab.isSet(5)">
                            <blockquote ng-cloak>{{tab.selects[4].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[4].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Maven</div>

                                            <pre>
                                                <code class="language-markup">
                                                <textarea>

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId>my-test-module</artifactId>
        <groupId>com.myproject</groupId>
        <version>1.0.1</version>
    </parent>
    <name>My Example Maven Test Suite</name>
    <modelVersion>4.0.0</modelVersion>

    <properties>
        <my.test.driverVersion>chrome</my.test.driverVersion>
        <webdriver.version>2.53.0</webdriver.version>
        <webdriver.base.url>http://localhost:6767/${project.serviceName}/</webdriver.base.url>
    </properties>

    <artifactId>my-test-module</artifactId>

    <dependencies>
        <dependency>
            <groupId>com.jayway.restassured</groupId>
            <artifactId>rest-assured</artifactId>
            <version>2.3.4</version>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>
            <version>4.12</version>
        </dependency>
        <dependency>
            <groupId>org.seleniumhq.selenium</groupId>
            <artifactId>selenium-java</artifactId>
            <version>${webdriver.version}</version>
        </dependency>
    </dependencies>
    <build>
        <plugins>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>build-helper-maven-plugin</artifactId>
                <version>1.8</version>
                <executions>
                    <execution>
                        <id>parse-version</id>
                        <goals>
                            <goal>parse-version</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>2.12</version>
                <configuration>
                    <skip>true</skip>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>exec-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>installMyApplication</id>
                        <phase>pre-integration-test</phase>
                        <goals>
                            <goal>exec</goal>
                        </goals>
                        <configuration>
                            <commandlineArgs>/quiet /I</commandlineArgs>
                            <executable>${project.build.directory}\holdingarea\myapplication-${project.version}.exe</executable>
                            <skip>${skipTests}</skip>
                            <workingDirectory>${project.build.directory}</workingDirectory>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>exec-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>uninstallMyApplication</id>
                        <phase>post-integration-test</phase>
                        <goals>
                            <goal>exec</goal>
                        </goals>
                        <configuration>
                            <commandlineArgs>/quiet /uninstall</commandlineArgs>
                            <executable>${project.build.directory}\holdingarea\myapplication-${project.version}.exe</executable>
                            <skip>${skipTests}</skip>
                            <workingDirectory>${project.build.directory}</workingDirectory>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-failsafe-plugin</artifactId>
                <version>2.19.1</version>
                <executions>
                    <execution>
                        <id>ui-tests</id>
                        <goals>
                            <goal>integration-test</goal>
                            <goal>verify</goal>
                        </goals>
                        <configuration>
                            <runOrder>alphabetical</runOrder>
                            <systemPropertyVariables>
                                <releaseDirectory>${project.build.directory}</releaseDirectory>
                                <webdriver.driver>provided</webdriver.driver>
                                <webdriver.base.url>${webdriver.base.url}</webdriver.base.url>
                                <test.directory>${project.basedir}</test.directory>
                            </systemPropertyVariables>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
                                            </textarea>
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].maven}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Gradle</div>
                                            <pre>
                                                <code class="language-groovy">
apply plugin: 'java'

buildscript {
    repositories {
        mavenCentral()
    }
}

dependencies {
    compile group: 'org.seleniumhq.selenium', name: 'selenium-java', version: '2.53.0'
    compile group: 'com.jayway.restassured', name: 'rest-assured', version: '2.+'
compile 'junit:junit:4.12'
}

task uninstallMyApplication(type:Exec) {
    def text =  project(':buildmyapp').file("/build/holdingarea/myapplication-${project.version}.msi")
    commandLine 'msiexec','/quiet','/uninstall',"${text}","/norestart"
}

task installMyApplication(dependsOn:':buildmyapp:build',type:Exec) {
    def text =  project(':buildmyapp').file("/build/holdingarea/myapplication-${project.version}.msi")
    commandLine 'msiexec','/quiet','/I',"${text}","/norestart"
}

task copyMyApplicationLogs(type: Copy) {
    def logsPath = System.getenv("ProgramData")+"\\myCompany\\myApplication\\Logs"
    from file("${logsPath}")
    into "${buildDir}/logsForDebugging"
}

// Install the application to test
test.dependsOn installMyApplication

test {
    outputs.upToDateWhen { false }
}

// Uninstall the application to keep the environment clean, and copy the logs for possible debugging.
test.finalizedBy(copyMyApplicationLogs)
test.finalizedBy(uninstallMyApplication)
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].gradle}}</p>
                            <p><br/></p>
                            <div class="accordion">
                                <div>Git</div>
                                            <pre>
                                                <code class="language-git">
            <textarea>
chrisp@chrisp-Aspire-2920:~$ cd /home/chrisp/Documents/chrisp1985.github.io/
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
Changes not staged for commit:
(use "git add file..." to update what will be committed)
(use "git checkout -- file..." to discard changes in working directory)

modified:   src/js/menuControl.js
modified:   tools.html

Untracked files:
(use "git add file..." to include in what will be committed)

.idea/
out/

no changes added to commit (use "git add" and/or "git commit -a")
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git add src/
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git add tools.html
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git commit -m"Added GIT description to menuControl, and plumbed into HTML."
[master dfd5e3b] Added GIT description to menuControl, and plumbed into HTML.
2 files changed, 13 insertions(+), 2 deletions(-)
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git push -u origin master
Username for 'https://github.com': chrisp1985
Password for 'https://chrisp1985@github.com':
Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (6/6), 1.08 KiB | 0 bytes/s, done.
Total 6 (delta 3), reused 0 (delta 0)
To https://github.com/chrisp1985/chrisp1985.github.io
ffdcae5..dfd5e3b  master -> master
Branch master set up to track remote branch master from origin.
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$
                                            </textarea>
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].git}}</p>
                            <p><br/></p>
                        </div>
                        <div ng-show="tab.isSet(6)">
                            <blockquote ng-cloak>{{tab.selects[5].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[5].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>DocX4J</div>
									<pre>
                                                <code class="language-java">
												<textarea>
private void addIssuesToWordDoc() throws Exception {
	// Set the hashmap.
	HashMap<String,String> replacements = new HashMap<String, String>(){{
        
		// Set the version
        put("Version x","Version "+System.getProperty("MyProductVersion"));

        // Set the other bits
        put("HighPriorityCount",getTotalNumberOfHighPriorityIssues());
        put("Date",new Date().toString());
        put("ClosedCount",getResolvedIssuesOnProject());
        put("fixVersion",System.getProperty("productMajorVersion"));

        // Release Location Link
        put("ReleaseLocation",RELEASE_LOCATION);
    }};

    // Import the file.
    File inputFile = new File(INPUT_DOCX);

    // Setup the file to create.
    File outputFile = new File(OUTPUT_DOCX);

    // Set and prepare the package.
    WordprocessingMLPackage myPackage = WordprocessingMLPackage.load(inputFile);
    VariablePrepare.prepare(myPackage);

    // Get the main document contents.
    MainDocumentPart mainDocumentPart = myPackage.getMainDocumentPart();

    // Replace parts of the document with strings from the hashmap.
    mainDocumentPart.variableReplace(replacements);

    // For each Jira, add it as a paragraph to the document to create a vertical list.
    for(String jiraRes : getHighPriorityOpenIssues()) {
        myPackage.getMainDocumentPart().addParagraphOfText(jiraRes);
    }

    // Save the document.
    myPackage.save(outputFile);
}
</textarea>
</code>
</pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[5].docx4j}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Jira</div>
                                <pre>
                                                <code class="language-groovy">
// Constructor
private JiraQuery() {
    RestAssured.authentication = preemptive().basic(MY_USERNAME,MY_PASSWORD);
}

/**
 * GET TOTAL NUMBER OF HIGH PRIORITY ISSUES.
 * @return String representation of total High Priority issues.
 */
private String getTotalNumberOfHighPriorityIssues() {
    return new JSONObject(jiraQueryAsString(JIRA_GET_HIGH_PRIORITY_ISSUES)).get("total").toString();
}</code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[5].jira}}</p>
                            <p><br/></p>
                            <div class="accordion">
                                <div>Results</div>
                                <pre>
                                                <code class="language-groovy">
            <textarea>
// Test reporting.
task resultsZip(type: Zip) {
    classifier = "my_test_results"
    from file("build/reports/tests/")
}

test.finalizedBy(resultsZip)</textarea>
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[5].results}}</p>
                            <p><br/></p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

<div ui-view></div>