<div>
    <script>
    $(function() {
      $( ".accordion" ).accordion({
          collapsible: true,
          heightStyle: "content",
          active: false
      });
    });
    </script>
    <script>
        Prism.highlightAll();
    </script>
    <div class="jumbotron jumbotron-billboard">
        <div class="img tools"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="my-header2">Tools and Frameworks</h1>
                    <p>Covering an assortment of tools and frameworks for a range of testing written in a few different languages.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="left">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <section class="tab container" ng-controller="myOtherCtrl as tab">
                        <ul class="nav nav-pills">
                            <li ng-class="{ active: tab.isSet(1) }">
                                <a href ng-click="tab.setTab(1)">Jenkins</a></li>
                            <li ng-class="{ active: tab.isSet(2) }">
                                <a href ng-click="tab.setTab(2)">npm</a></li>
                            <li ng-class="{ active: tab.isSet(3) }">
                                <a href ng-click="tab.setTab(3)">Mocking</a></li>
                            <li ng-class="{ active: tab.isSet(4) }">
                                <a href ng-click="tab.setTab(4)">Linux</a></li>
                            <li ng-class="{ active: tab.isSet(5) }">
                                <a href ng-click="tab.setTab(5)">Build Environment</a></li>
                        </ul>
                        <h4><br/></h4>

                        <div ng-show="tab.isSet(1)">
                            <blockquote ng-cloak>{{tab.selects[0].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[0].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Example 1</div>
                                    <pre>
                                                <code class="language-javascript">
                                                    describe("SERVICES & FACTORIES - authenticator Test Suite", function() {
                                                    "use strict";

                                                    // *******************************
                                                    //  AUTHENTICATOR ANGULAR MODULE
                                                    // *******************************
                                                    var authenticatedTokenService,myCookies,authenticatorService,httpBackend,$window;

                                                    beforeEach(module('authenticator'));
                                                    beforeEach(module('ngCookies'));
                                                    beforeEach(module(function($provide) {
                                                    $window = {location: { replace: jasmine.createSpy()} };
                                                    $provide.value('$window', $window);
                                                    }));

                                                    beforeEach(inject(function($injector) {
                                                    authenticatedTokenService = $injector.get('AuthenticatedToken',[myCookies]);
                                                    authenticatorService = $injector.get('Authenticator',['$http', authenticatedTokenService, $window]);
                                                    myCookies = $injector.get('$cookieStore',[]);
                                                    httpBackend = $injector.get('$httpBackend');
                                                    }));

                                                    // ***********************
                                                    //  AUTHENTICATOR FACTORY
                                                    // ***********************
                                                    describe('Authenticator Factory',function() {

                                                    // *********
                                                    //   LOGIN
                                                    // *********
                                                    describe('login',function() {
                                                    it('Check that the login method is defined.',function() {
                                                    expect(authenticatorService.login).not.toEqual(undefined);
                                                    });

                                                    it('Check that when the login method is executed with valid credentials, the successCallback is called.',function() {
                                                    var creds, successCallbackSpy, errorCallbackSpy;
                                                    creds = {"userName":"administrator","password":"admin"};
                                                    successCallbackSpy = jasmine.createSpy();
                                                    errorCallbackSpy = jasmine.createSpy();

                                                    httpBackend.expectPOST('/tokens/', creds, function(headers) {
                                                    return headers['Content-Type'] === 'application/json';
                                                    }).respond(200, 'HELLO');
                                                    authenticatorService.login(creds, successCallbackSpy, errorCallbackSpy);
                                                    httpBackend.flush();
                                                    expect(successCallbackSpy).toHaveBeenCalled();
                                                    });

                                                    it('Check that when the login method is executed with invalid credentials, the errorCallback is called.',function() {
                                                    var invalidcreds, successCallbackSpy, errorCallbackSpy;
                                                    invalidcreds = {"userName":"admin2","password":"admin2"};
                                                    successCallbackSpy = jasmine.createSpy();
                                                    errorCallbackSpy = jasmine.createSpy();

                                                    httpBackend.expectPOST('/tokens/', invalidcreds, function(headers) {
                                                    return headers['Content-Type'] === 'application/json';
                                                    }).respond(500, 'BOO');
                                                    authenticatorService.login(invalidcreds, successCallbackSpy, errorCallbackSpy);
                                                    httpBackend.flush();
                                                    expect(errorCallbackSpy).toHaveBeenCalled();

                                                    });
                                                    });
                                                    });
                                                    });
                                                </code>
                                    </pre>
                            </div>
                            <p><br/></p>

                            <p >{{tab.selects[0].example1}}</p>

                            <p><br/></p>

                            <div class="accordion">
                                <div>Example 2</div>
											<pre>
                                                <code class="language-javascript">
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p >{{tab.selects[0].example2}}</p>

                            <p><br/></p>

                        </div>
                        <div ng-show="tab.isSet(2)">
                            <blockquote ng-cloak>{{tab.selects[1].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[1].languages}}</p>
                            </blockquote>


                            <div class="accordion">
                                <div>Example 1</div>
												<pre>
                                                    <code class="language-java">

                                                    </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[1].example1}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Example 2</div>
												<pre>
                                                    <code class="language-java">

                                                    </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[1].example2}}</p>

                            <p><br/></p>

                        </div>
                        <div ng-show="tab.isSet(3)">
                            <blockquote ng-cloak>{{tab.selects[2].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[2].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Example 1</div>
                                            <pre>
                                                <code class="language-csharp">

                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[2].example1}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Example 2</div>
                                            <pre>
                                                <code class="language-csharp">
                                                    </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[2].example2}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Example 3</div>
                                            <pre>
                                                <code class="language-csharp">

                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[2].example3}}</p>

                            <p><br/></p>
                        </div>
                        <div ng-show="tab.isSet(4)">
                            <blockquote ng-cloak>{{tab.selects[3].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[3].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>RestAssured</div>
                                            <pre>
                                                <code class="language-java">

                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].restassured}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>RestSharp</div>
                                            <pre>
                                                <code class="language-csharp">

                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].restsharp}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Mocha</div>
                                            <pre>
                                                <code class="language-javascript">

                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[3].mocha}}</p>

                            <p><br/></p>
                        </div>
                        <div ng-show="tab.isSet(5)">
                            <blockquote ng-cloak>{{tab.selects[4].description}}
                                <p><br /></p>
                                <p>Languages: {{tab.selects[4].languages}}</p>
                            </blockquote>
                            <div class="accordion">
                                <div>Maven</div>

                                            <pre>
                                                <code class="language-markup">
                                                <textarea>

<?xml version="1.0" encoding="UTF-8"?>
                                                    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
                                                        <parent>
                                                            <artifactId>my-test-module</artifactId>
                                                            <groupId>com.myproject</groupId>
                                                            <version>1.0.1</version>
                                                        </parent>
                                                        <name>My Example Maven Test Suite</name>
                                                        <modelVersion>4.0.0</modelVersion>

                                                        <properties>
                                                            <my.test.driverVersion>chrome</my.test.driverVersion>
                                                            <webdriver.version>2.53.0</webdriver.version>
                                                            <webdriver.base.url>http://localhost:6767/${project.serviceName}/</webdriver.base.url>
                                                        </properties>

                                                        <artifactId>my-test-module</artifactId>

                                                        <dependencies>
                                                            <dependency>
                                                                <groupId>com.jayway.restassured</groupId>
                                                                <artifactId>rest-assured</artifactId>
                                                                <version>2.3.4</version>
                                                                <scope>test</scope>
                                                            </dependency>
                                                            <dependency>
                                                                <groupId>junit</groupId>
                                                                <artifactId>junit</artifactId>
                                                                <version>4.12</version>
                                                            </dependency>
                                                            <dependency>
                                                                <groupId>org.seleniumhq.selenium</groupId>
                                                                <artifactId>selenium-java</artifactId>
                                                                <version>${webdriver.version}</version>
                                                            </dependency>
                                                        </dependencies>
                                                        <build>
                                                            <plugins>
                                                                <plugin>
                                                                    <groupId>org.codehaus.mojo</groupId>
                                                                    <artifactId>build-helper-maven-plugin</artifactId>
                                                                    <version>1.8</version>
                                                                    <executions>
                                                                        <execution>
                                                                            <id>parse-version</id>
                                                                            <goals>
                                                                                <goal>parse-version</goal>
                                                                            </goals>
                                                                        </execution>
                                                                    </executions>
                                                                </plugin>
                                                                <plugin>
                                                                    <groupId>org.apache.maven.plugins</groupId>
                                                                    <artifactId>maven-surefire-plugin</artifactId>
                                                                    <version>2.12</version>
                                                                    <configuration>
                                                                        <skip>true</skip>
                                                                    </configuration>
                                                                </plugin>
                                                                <plugin>
                                                                    <groupId>org.codehaus.mojo</groupId>
                                                                    <artifactId>exec-maven-plugin</artifactId>
                                                                    <executions>
                                                                        <execution>
                                                                            <id>installMyApplication</id>
                                                                            <phase>pre-integration-test</phase>
                                                                            <goals>
                                                                                <goal>exec</goal>
                                                                            </goals>
                                                                            <configuration>
                                                                                <commandlineArgs>/quiet /I</commandlineArgs>
                                                                                <executable>${project.build.directory}\holdingarea\myapplication-${project.version}.exe</executable>
                                                                                <skip>${skipTests}</skip>
                                                                                <workingDirectory>${project.build.directory}</workingDirectory>
                                                                            </configuration>
                                                                        </execution>
                                                                    </executions>
                                                                </plugin>
                                                                <plugin>
                                                                    <groupId>org.codehaus.mojo</groupId>
                                                                    <artifactId>exec-maven-plugin</artifactId>
                                                                    <executions>
                                                                        <execution>
                                                                            <id>uninstallMyApplication</id>
                                                                            <phase>post-integration-test</phase>
                                                                            <goals>
                                                                                <goal>exec</goal>
                                                                            </goals>
                                                                            <configuration>
                                                                                <commandlineArgs>/quiet /uninstall</commandlineArgs>
                                                                                <executable>${project.build.directory}\holdingarea\myapplication-${project.version}.exe</executable>
                                                                                <skip>${skipTests}</skip>
                                                                                <workingDirectory>${project.build.directory}</workingDirectory>
                                                                            </configuration>
                                                                        </execution>
                                                                    </executions>
                                                                </plugin>
                                                                <plugin>
                                                                    <groupId>org.apache.maven.plugins</groupId>
                                                                    <artifactId>maven-failsafe-plugin</artifactId>
                                                                    <version>2.19.1</version>
                                                                    <executions>
                                                                        <execution>
                                                                            <id>ui-tests</id>
                                                                            <goals>
                                                                                <goal>integration-test</goal>
                                                                                <goal>verify</goal>
                                                                            </goals>
                                                                            <configuration>
                                                                                <runOrder>alphabetical</runOrder>
                                                                                <systemPropertyVariables>
                                                                                    <releaseDirectory>${project.build.directory}</releaseDirectory>
                                                                                    <webdriver.driver>provided</webdriver.driver>
                                                                                    <webdriver.base.url>${webdriver.base.url}</webdriver.base.url>
                                                                                    <test.directory>${project.basedir}</test.directory>
                                                                                </systemPropertyVariables>
                                                                            </configuration>
                                                                        </execution>
                                                                    </executions>
                                                                </plugin>
                                                            </plugins>
                                                        </build>
                                                    </project>


                                            </textarea>
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].maven}}</p>

                            <p><br/></p>
                            <div class="accordion">
                                <div>Gradle</div>
                                            <pre>
                                                <code class="language-groovy">
                                                    apply plugin: 'java'

                                                    buildscript {
                                                    repositories {
                                                    mavenCentral()
                                                    }
                                                    }

                                                    dependencies {
                                                    compile group: 'org.seleniumhq.selenium', name: 'selenium-java', version: '2.53.0'
                                                    compile group: 'com.jayway.restassured', name: 'rest-assured', version: '2.+'
                                                    compile 'junit:junit:4.12'
                                                    }

                                                    task uninstallMyApplication(type:Exec) {
                                                    def text =  project(':buildmyapp').file("/build/holdingarea/myapplication-${project.version}.msi")
                                                    commandLine 'msiexec','/quiet','/uninstall',"${text}","/norestart"
                                                    }

                                                    task installMyApplication(dependsOn:':buildmyapp:build',type:Exec) {
                                                    def text =  project(':buildmyapp').file("/build/holdingarea/myapplication-${project.version}.msi")
                                                    commandLine 'msiexec','/quiet','/I',"${text}","/norestart"
                                                    }

                                                    task copyMyApplicationLogs(type: Copy) {
                                                    def logsPath = System.getenv("ProgramData")+"\\myCompany\\myApplication\\Logs"
                                                    from file("${logsPath}")
                                                    into "${buildDir}/logsForDebugging"
                                                    }

                                                    // Install the application to test
                                                    test.dependsOn installMyApplication

                                                    test {
                                                    outputs.upToDateWhen { false }
                                                    }

                                                    // Uninstall the application to keep the environment clean, and copy the logs for possible debugging.
                                                    test.finalizedBy(copyMyApplicationLogs)
                                                    test.finalizedBy(uninstallMyApplication)
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].gradle}}</p>
                            <p><br/></p>
                            <div class="accordion">
                                <div>Git</div>
                                            <pre>
                                                <code class="language-git">
            <textarea>
chrisp@chrisp-Aspire-2920:~$ cd /home/chrisp/Documents/chrisp1985.github.io/
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
Changes not staged for commit:
(use "git add file..." to update what will be committed)
(use "git checkout -- file..." to discard changes in working directory)

modified:   src/js/menuControl.js
modified:   tools.html

Untracked files:
(use "git add file..." to include in what will be committed)

.idea/
out/

no changes added to commit (use "git add" and/or "git commit -a")
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git add src/
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git add tools.html
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git commit -m"Added GIT description to menuControl, and plumbed into HTML."
[master dfd5e3b] Added GIT description to menuControl, and plumbed into HTML.
2 files changed, 13 insertions(+), 2 deletions(-)
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$ git push -u origin master
Username for 'https://github.com': chrisp1985
Password for 'https://chrisp1985@github.com':
Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (6/6), 1.08 KiB | 0 bytes/s, done.
Total 6 (delta 3), reused 0 (delta 0)
To https://github.com/chrisp1985/chrisp1985.github.io
ffdcae5..dfd5e3b  master -> master
Branch master set up to track remote branch master from origin.
chrisp@chrisp-Aspire-2920:~/Documents/chrisp1985.github.io$
                                            </textarea>
                                                </code></pre>
                            </div>
                            <p><br/></p>

                            <p>{{tab.selects[4].git}}</p>
                            <p><br/></p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

<div ui-view></div>